<%- include('./partials/header') %>
        <div class="swimmer-container">
            <img class="dive" src="/images/swim.png" height="700px" alt="picture of wine">
            <div class="bad-grapes-text">BAD GRAPES WINE CLUB</div>
        </div>
<%- include('./partials/footer') %>