<%- include('./partials/header') %>
<section class="front-page-container">
    <div class="front-page-cards">
        <div class="swimmer">
            <img src="/images/swim.png" height="600px" alt="picture of wine">
        </div>
        <div class="bundle-cards"></div>
    </div>
</section>
<%- include('./partials/footer') %>