* {
  
}

body {
  font-family: 'Kalam', cursive;
  background-color: rgb(163, 127, 82);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

nav {
  background-color: rgb(226, 187, 139);
}

a {
  color:rgb(135, 103, 62);
}

input, label, #bundle-show-page, h5 {
  color:rgb(202, 174, 146)
}

.swimmer-container {
  display: flex;
  justify-content: center;
}

.bad-grapes-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  -webkit-text-stroke-width: 4px;
  color: white;
}
.new-bundle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  -webkit-text-stroke-width: 4px;
}

#bundle-show-page, #review-show-page {
display: flex;
justify-content: center;
}

.bundle-list {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  -webkit-text-stroke-width: 4px;
}

.landing-page-container {
  display: flex;
  justify-content: center;
}

.user-welcome-container {
  display: inline;
  text-align: center;
  color: rgb(202, 174, 146);
}

.btn-primary {
  background-color: rgb(35, 62, 80);
}

.details {
  display: flex;
  justify-content: center;
}

#new-bundle-form {
  display: flex;
  justify-content: center;
}

