* {
  font-family: 14px "Cormorant", serif;
}

body {
  margin: 0;
}


nav {
  padding: 20px;
  display: inline;
  margin-left: 30em;
  font-size: 14px;
}

title {
  padding: 50px;
  display: inline;
  font-size: 30px;
}
