<%- include('../partials/header') %>
<form id="create-bundle" action="/bundles" method="POST">
    <label>bundle name:</label>
    <input type="text" name="bundle">
    <label>user:</label>
   
    <input type="submit" value="Add Bundle">
</form>

<%- include('../partials/footer') %>