<%- include('../partials/header') %>
<div id="new-bundle-form">
<form id="create-bundle" action="/bundles" method="POST">
    <label>bundle name:</label>
    <input type="text" name="bundle">
    <input type="submit" value="Add Bundle">
</form>
</div>

<%- include('../partials/footer') %>