<%- include('../partials/header') %>

<div class="user-welcome-container">
    <div class="user-welcome">
    </div>
    <h2>Welcome to Bad Grapes Wine Club!</h2>
    <div class="user-select">
    </div>
</div>
<div class="landing-page-container">
    <img src="/images/wallpaperBGWC.jpg" alt="">
</div>
<div class="new-bundle">
<a href="/bundles/new"> CREATE YOUR BUNDLE</a>
</div>

<%- include('../partials/footer') %>