<%- include('../partials/header') %>
<section class="logged-in-container">
    <div class="wine-cheers">
        <div class="cheers">
            <img src="/images/clink.png" height="600px" alt="wine classes cheersing">
        </div>
        <div class="bundle-cards"></div>
        <a href=""	<%- title === 'Bundles' ? 'class="active"' : '' %>>
            Bundles</a>
    </div>
</section>
<%- include('../partials/footer') %>